body {font-family: Avenir;
	}
	h1 {font-size: 48px;
		color: #491145;
	}
	ul { list-style: none;
	}
	.navbar-default {
  background-color: #491145;
  border-color: #ffffff; 
  background-image: none;
}
.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
	background-image: none; background-color: #95e422
}
.center-vertical {padding: 50px;
}