body {
	font-family: Avenir;
}
h1 {
	font-size: 60px;
	color: #491145;
	margin-bottom: 0;
}
h2 {
	font-size: 37px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 17.5px;
}
li {
	font-size: 17.5px;
}

hr {
	border-top-width: 20px;
border-color: #95e422;
margin-bottom: 0;
}
blockquote {
	border-color:#95e422;
}
.center-vertical {
	padding: 50px;
}
.no-top-margin{
	margin-top: 0px;
}
.navbar-default .navbar-nav>li {
	width: 33.33%;
}
.navbar-nav{
	float: none;
	text-align: center;
}
p {
	font-size: 17.5px;
}